<div id="<%= dom_id courier %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Person:</strong>
    <%= courier.person_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Settings:</strong>
    <%= courier.settings %>
  </div>
</div>
